// Colors

$base-color: "#5547AC";
$secondary-color: "";
$normal-color: "black";
$border-color: "rgb(213, 213, 213)";

// Spacing

$space-xs: "5px";
$space-sm: "15px";
$space-md: "20px";
$space-lg: "25px";
$space-xl: "30px";
$space-2xl: "30px";

// Border radius

$radius: "10px";

// Font sizes

$font-xs: "12px";
$font-sm: "16px";
$font-lg: "20px";
$font-xl: "26px";
$font-2xl: "32px";
