
.panel-auth {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: 1;
    z-index: 99997;
    overflow-x: hidden;
    overflow-y: hidden;
}
.btn-primary {
    color: #ffffff;
    background-color: #0dc5c1;
    width: 50%;
    border-radius: 10px;
    border-color: #0dc5c1;
  }
.panel-primary {
  width: 75%;
  margin: auto;
  border-radius: 15px;
  border-color: #0dc5c1;
}
.shiny-bound-input {
  border-radius: 35px;
}

